.logo{
	width: 250px;

}
nav li{
	display: inline;
	position: relative;
	top: -100px;
	left: 800px;
	padding: 20px;

}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	
}
.img{
	width: auto;
	height: 100vh;
	margin: -20px 0px;

}
.textoprincipal{
	color: #DDDDDD;
	text-align: center;
	text-align:center, justify;
	font-size: 50px;
	font-family: monospace;
	font-variant: justify;
	padding: 20px;
	position: relative;
	top: -400px;
	text-shadow: 0px 1px 2px black;
}

div ul li{
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0px 200px;

}
.imagemorcamento{
	width: 200px;
	height: 200px;
}

.trabalhoimagem{
	width: 200px;
	height: 200px;
	margin: 0px 30px;
}

.orcamento{
	padding: 20px;
}

.trabalho{
	padding: 20px;
}

li h2{
	margin: 15px 40px;
	font-family: monospace;
}

li p{

	font-family: monospace;
}

.main2{
	background-image: url("bg2.jpg");
	padding: 200px 0px ;
	margin: -200px 0px;

}